@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-family: "Lexend", sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-grey-1 {
    color: #7D7D7D;
  }

  .text-grey-2 {
    color: rgba(156, 163, 175, 1);
  }

  .text-grey-3 {
    color: rgba(107, 114, 128, 1);
  }



  .drop-shadow-1 {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  }

  .text-blue-1 {
    color: rgba(47, 172, 214, 1);
  }

  .bg-blue-1 {
    background-color: rgba(47, 172, 214, 1);
  }

  .bg-grey-1 {
    background-color: rgba(249, 250, 251, 1);
  }

  .bg-grey-2 {
    background-color: rgba(229, 231, 235, 1);
  }

  .border-gray-1 {
    border-color: rgba(229, 231, 235, 1);
  }

  .bg-blue-2 {
    background-color: rgba(249, 253, 255, 1);
  }

}